vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
*.dot
*.log
*.ign
*.test
*.out
devnet/docker-compose.yml
libwasmvm.x86_64.so
pasteld
devnet/primary-validator.sh
devnet/secondary-validator.sh

__devnet_deploy_test
devnet-deploy.tar.gz

repomix-*
.repomixignore

tests/systemtests/testnet