version: 1

name: lumera
app:
  address_prefix: lumera

build:
  main: cmd/lumera
  binary: lumerad

# total supply: 250,000,000,000,000 ulume --> 250,000,000 lume
accounts:
  - name: validator_pool
    coins: ['25000000000000ulumen']       # 27,000,000,000,000 ulume --> 27,000,000 lume

  #  - name: for claiming - mined by Claiming module at genesis
  #    coins: ['12500000000000ulumen']       # 12,500,000,000,000 ulume --> 12,500,000 lume

  # Testnet and Devnet only
  - name: faucet_account
    coins: ['1000000ulumen']              # 1,000,000 ulume    --> 1 lume

  - name: genesis_validator1
    coins: ['100000000000ulumen']       # 1,000,000,000,000 ulume --> 1,000,000 lume

faucet:
  name: faucet_account
  coins:
    - '1000000ulumen'
  coins_max:
    - '100ulumen'

validators:
  - name: genesis_validator1
    bonded: '100000000000ulumen'


genesis:
  chain_id: lumera-devnet-1
  app_state:
    claim:
      total_claimable_amount: '12383801540459' # 12,500,000,000,000 ulume --> 12,500,000 lume
      params:
        claim_end_time: '1746071999' # April 30 2025, 23:59:59
    distribution:
      params:
        community_tax:         '0.020000000000000000'
        base_proposer_reward:  '0.000000000000000000'
        bonus_proposer_reward: '0.000000000000000000'
    staking:
      params:
        bond_denom: "ulume"
        max_validators: '100'
        unbonding_time: '1814400s'
    mint:
      params:
        mint_denom: "ulume"
        inflation_min:          '0.050000000000000000'
        inflation_max:          '0.200000000000000000'
        inflation_rate_change:  '0.150000000000000000'
        goal_bonded:            '0.670000000000000000'
        blocks_per_year: '3942000'
    slashing:
      params:
        downtime_jail_duration: '600s'
        min_signed_per_window:      '0.500000000000000000'
        slash_fraction_double_sign: '0.050000000000000000'
        slash_fraction_downtime:    '0.010000000000000000'
    crisis:
      constant_fee:
        denom: "ulume"
        amount: "500000000"  # 500,000 ulume --> 500 lume
    gov:
      params:
        burn_vote_quorum: false
        burn_vote_veto: true
        burn_proposal_deposit_prevote: false
        min_deposit:                    # min deposit for proposal to enter voting period
          - denom: "ulume"
            amount: '1000000000'  # 1,000 lume (1,000,000,000 ulume) for devnet; 10,000 lume (10,000,000,000 ulume) for testnet; 100,000 lume (100,000,000,000 ulume) for mainnet
        expedited_min_deposit:
          - amount: '5000000000'  # 5,000 lume (5,000,000,000 ulume) for devnet; 50,000 lume (50,000,000,000 ulume) for testnet; 500,000 lume (500,000,000,000 ulume) for mainnet
            denom: "ulume"
        max_deposit_period: '172800s'   # 2 days (172800s) for devnet; 7 days (604800s) for testnet; 14 days (1209600) for mainnet
        voting_period: '172800s'        # 2 days (172800s) for devnet; 7 days (604800s) for testnet; 14 days (1209600) for mainnet
        quorum:         '0.334000000000000000'          # 33.4%
        threshold:      '0.500000000000000000'       # 50%
        veto_threshold: '0.334000000000000000'  # 33.4%

client:
  openapi:
    path: docs/static/openapi.yml

